header{
    text-align: center;
    background-color:#343a40;
    color: white;
    height: 90px;
    font-size: 45px;
    font-weight: bold;
}
#currentWeather{
    border: solid 2px lightgray;
    
}

#forecastWeather {
    display: flex;
    flex-wrap: wrap;
}

#forecastWeather h3 {
    width: 100%;
}

.forecast {
    box-sizing: border-box;
    width: 20%;
    padding: 5px;
    color: white;
    background-color: dodgerblue;
}