header{
    text-align: center;
    background-color:#343a40;
    color: white;
    height: 90px;
    font-size: 45px;
    font-weight: bold;
}
#currentWeather{
    border: solid 2px lightgray;
    
}
